html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--primary-text-color: #4D362A;
	--background-url: url('./public/assets/background.png');
}


@font-face {
	font-family: Kuro;
	src: url('./public/fonts/Kuro-Medium.otf') format('opentype');
	font-weight: 500;
	font-display: swap;
}


@font-face {
	font-family: Kuro;
	src: url('./public/fonts/Kuro-DemiBold.otf') format('opentype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: Kuro;
	src: url('./public/fonts/Kuro\ Bold.otf') format('opentype');
	font-weight: 700;
	font-display: swap;
}

body {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
	overflow: hidden;
	font-family: 'Kuro', sans-serif;
}


h1 {
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
}

.page {
	position: relative;
	width: 100%; 
	height: 100dvh; 
	display: flex; 
	justify-content: center;
	background: var(--background-url);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
}


.description {
	width: 100%;
	height: 45%;
	position: absolute;
	bottom: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1.1rem calc(21dvh + env(safe-area-inset-bottom)) 1.1rem;
	box-sizing: border-box;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
	box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
}

.description legend {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 600;
	margin-block-end: 1rem;
}

.description p {
	font-weight: 400;
	line-height: 1.2em;
	font-size: .94em;
	margin-block-start: 0;
	margin-block-end: 0;
}

#see-more {
	position: fixed;
	width: 100%;
	bottom: .55rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
	will-change: transform;
}


.updown {
	animation: updown 1.5s infinite alternate;
}

.updown-reverse {
	animation: updown-reverse 1.5s infinite alternate;
}

.zoom-out {
	animation: zoom-out 1s 1s forwards;
}

.show-up {
	animation: show-up 1s 1s forwards;
}

@keyframes updown {
	0% {
		transform: scale(50%) translateY(-50%);
	}

	100% {
		transform: scale(50%) translateY(50%);
	}
}

@keyframes updown-reverse {
	0% {
		transform: rotate(180deg) scale(50%) translateY(-50%);
	}

	100% {
		transform: rotate(180deg) scale(50%) translateY(50%);
	}
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55%;
}

#first-page img {
	display: block;
	max-width: 100%;
	height: 100%;
	aspect-ratio: auto;
}

.page img {
	max-width: 100%;
  	height: auto;
  	display: block;
	max-height: 100%;
	aspect-ratio: 1 / 1;
}

@media screen and (max-width: 2500px) {
	.description {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 750px) {
	.description {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 500px) {
	.description {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 467px) {
	.description {
		font-size: 1.1rem;
	}
}


@media screen and (max-width: 300px) {
	.description {
		font-size: 1rem;
	}
}

